{% extends 'base.html.twig' %}

{% block title %}Series index{% endblock %}

{% block body %}
    <h1>Series index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for series in series %}
            <tr>
                <td>{{ series.id }}</td>
                <td>{{ series.title }}</td>
                <td>{{ series.author }}</td>
                <td>
                    <a href="{{ path('app_series_show', {'id': series.id}) }}">show</a>
                    <a href="{{ path('app_series_edit', {'id': series.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_series_new') }}">Create new</a>
{% endblock %}
